@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap-responsive.css" />

    <title>Nancy & Raven</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="#">Nancy & Raven Fun - Quotes</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="hero-unit">
            <form method="POST">
                <fieldset>
                    <legend>Add a new quote</legend>
                    <div>
                        <label for="content">Quote</label>
                        <textarea name="content" id="Content"></textarea>
                    </div>
                    <div>
                        <label for="source">Source</label>
                        <input type="text" id="source" name="Source" />
                    </div>
                    <input type="submit" value="Add" />
                </fieldset>
            </form>
        </div>
        @if (@Model != null)
        {
            <div class="row-fluid">
                @foreach (var quote in @Model)
                {
                    <div class="span6">
                        <h2>@quote.Content</h2>
                        <p>
                            By: <i>@quote.Source</i> - Added @quote.DateCreated.ToString("g")
                        </p>
                    </div>
                }
            </div>
        }
    </div>
</body>
</html>
